@media (max-width: 800px){
    Dialog {
        height: 40%;
        width: 95%;
    }
}
@media (min-width: 801px){
    Dialog {
        height: 50%;
        width: 45%;
    }
}
.slidecontainer .slider {
    position: unset !important;
    -webkit-appearance: none;
    width: 100%;
    height: 0.2cm;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 20px;
}

.slidecontainer .slider:hover {
    opacity: 1;
}

.slidecontainer .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.5cm;
    height: 0.5cm;
    background: #04AA6D;
    cursor: pointer;
    border-radius: 20px;
}

.slidecontainer .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    padding: 5px 16px;
    z-index: 1;
}

@media (min-width: 801px){
    .filter_tab_mobile{
        width: 85%;
    }

    .a_tag_styles {
        height: 350px;
        display: flex;
        align-items: center;
    }

    .o_portal_pager{
        width: 70%;
    }

    .grid-container {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: auto auto auto;
        gap: 1.5rem;
    }
/*
<!--                                .card-img-top{-->
<!--                                height: 350px;-->
<!--                                width: fit-content;-->
<!--                                }-->*/
}

@media (max-width: 800px){
    .filter_btn_nav_mobile{
        width: 100% !important;
    }

    .filters_nav{
        display: none;
    }

    .grid-container {
        display: contents;
    }
    .card {
        margin: 25px;
    }
    .card-img-top{
        width: 100%;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 31px;
    height: 18px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 1px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #35979c;
}

/*
input:focus + .slider {
box-shadow: 0 0 1px #00d18e;
}
*/

input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}